body {
  font-family: 'Open Sans', sans-serif;
}


.container {
  width: 100%;
  /* margin: 0 auto; */
}

#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* border-bottom: 1px black solid; */
}

#search p {
  font-size: 1.2rem;
  padding: 0;
  margin-right: 20px;
  font-weight: bold;
}

#search input {
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
}

#search button {
  font-weight: bold;
  background: #818194;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  padding: 7px;
}
/* Added this section to take care of the reset button and to get colors
when the temperature is too low or high */
#reset {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding: 10px;
  border-bottom: 1px black solid;
}

#reset button {
  font-weight: bold;
  background: #818194;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 1rem;
  padding: 7px;
}

/* define colored and centered text */
.redtext {
	color: red;
  text-align: center
}

.bluetext {
	color: blue;
  text-align: center
}

.blacktext {
	color: black;
  text-align: center
}

.results-table {
  width: 100%;
  /* display: flex;
  justify-content: flex-start; */
}
